*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.header{
    background-color:#1F2937;
    color: white;
    padding: 26px 32px;
    height: 500px;
}
.logo_text{
    font-size: 24px;
    color: #F9FAF8;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.hero{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 60px;
}
.cont1{
    box-sizing: border-box;
    height: 250px;
    width: 470px;
    
    padding: 26px;
}
.cont2{
    height: 250px;
    width: 470px;
    background-color: rgba(169, 169, 169, 0.77);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.t1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.t2{
    font-size: 18px;
    color: #E5E7EB;
}
.bluebox, button{
    background-color:#3882F6;
    padding: 5px 30px;
    border-radius: 7px;
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 550;
    margin-top: 8px;
}
.info_header{
    padding: 50px;
    text-align: center;
}
.boxes{
    margin-top: 45px;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    
}
.box{
    text-align: center;
    width: 140px;
}
.b{
    border:solid #3882F6;
    height: 140px;
    width: 140px;
    border-radius: 20px;
    border-width: 4px;
}
.quote{
    background-color: #E5E7EB;
    height: 480px;
    color: #1F2937;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    
    width: 775px;
    flex-direction: column;
    
}
.signup{
    height: 300px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.bluebox{
    margin-top: 0px;
    width: 975px;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;

}
.footer{
    font-size: 18px;
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 100px;
    margin-top: auto;
}
.material-symbols-outlined {
  font-size: 18px;
}


li{
    list-style: none;
}
ul{
    display: flex;
    gap: 16px;
}
